@font-face {
  font-family: 'sercular';
  src: url('./fonts/SecularOne.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'sercular';
}

html {
  background-color: #1b2132;
}